{% if data.article.gallery | length <= 4%}
  {% set numcols = "two-cols" %}
{% endif%}

{% if data.article.gallery | length > 4%}
  {% set numcols = "three-cols" %}
{% endif%}

<div class="picture" itemscope itemtype="http://schema.org/ImageGallery">

{% for item in data.article.gallery %}
  <div class="photo-gallery column large-4 three-cols ">
	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	  <a data-img="{{ item }}" itemprop="contentUrl" data-size="1700x2200">
		  <img src="{{ item }}" itemprop="thumbnail" alt="Image description" />
	  </a>
	</figure>
  </div>
{% endfor %}

</div>
