<div class="picture" itemscope itemtype="http://schema.org/ImageGallery">

{% if data.article.gallery | length <= 4 %}
  <!-- {% set numcols = "two-cols" %} -->
  {% for item in data.article.gallery %}
  <div class="photo-gallery column large-4 two-cols">
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a data-img="{{ item }}" itemprop="contentUrl" data-size="1700x2200">
      <img src="{{ item }}" itemprop="thumbnail" alt="Image description" />
    </a>
  </figure>
  </div>
{% endfor %}
{% endif%}

{% if data.article.gallery | length > 4 %}
  <!-- {% set numcols = "three-cols" %} -->
  {% for item in data.article.gallery %}
  <div class="photo-gallery column large-4">
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a data-img="{{ item }}" itemprop="contentUrl" data-size="1700x2200">
      <img src="{{ item }}" itemprop="thumbnail" alt="Image description" />
    </a>
  </figure>
  </div>
{% endfor %}
{% endif%}

</div>
