{% extends "./layouts/base.njk" %}

{% block content %}
<div class="navbar-padding"></div>
<div class="row">
  {% include "./partials/comic/comic_article.njk" %}
</div>
{% include "./partials/comic/comic_photoswipe.njk" %}
{% endblock %}