{% extends "./layouts/base.njk" %}

{% block content %}
<div class="navbar-padding"></div>
<div class="row show-for-medium">
  {% include "./partials/mainstory.njk" %}
</div>
<div class="row show-for-medium">
  {% include "./partials/3col_container.njk" %}
</div>
<div class="row show-for-small-only small-collapse">
  {% include "./partials/mobile_primary_stories.njk" %}
</div>
<div class="row">
  {% include "./partials/latest_stories.njk" %}
</div>
<!-- <div class="row">
  {% include "./partials/page_number.njk" %}
</div> -->
{% endblock %}
