{% extends "./layouts/base.njk" %}

{% block content %}
<div class="navbar-padding"></div>
<div class="row">
  {% include "./partials/section.njk" %}
</div>
{# #}
{% endblock %}
<!-- <div class="row">
  {% include "./partials/latest_stories.njk" %}
</div> -->
<!-- <div class="row">
  {% include "./partials/page_number.njk" %}
</div> -->
