<div id="main">
  <div class="navbar-padding"></div>
  <div>
    {% include "../partials/articleinfo.njk" %}
		
		<div class="hide-for-small-only articles__wrapper-small">
			{% include "../partials/author-bio.njk" %}	
		</div>
  </div>
</div>
