<div class="col3__pdf-wrapper">
  <div class="columns medium-4 main-block">
    {% include "./pdf_box.njk" %}
  </div>
  <div class="columns medium-4 main-block">
    {% include "./pdf_box.njk" %}
  </div>
  <div class="columns medium-4 main-block">
    {% include "./pdf_box.njk" %}
  </div>
</div>