<div class="col3__wrapper">
  <div class="columns medium-4 main-block">
    {% include "./allstories_box.njk" %}
  </div>
  <div class="columns medium-4 main-block">
    {% include "./allstories_box.njk" %}
  </div>
  <div class="columns medium-4 main-block">
    {% include "./allstories_box.njk" %}
  </div>
</div>

<hr class="col3__black-line-top">
<hr class="col3__black-line-bottom">
