<div class="columns medium-4">
  {% include "./allstories_box.njk" %}
</div>
<div class="columns medium-4">
  {% include "./allstories_box.njk" %}
</div>
<div class="columns medium-4">
  {% include "./allstories_box.njk" %}
</div>
<hr class="black-line">
<hr class="black-line">
