<div class="about-prime__container">
  <h1 class="about-prime__title">About Prime</h1>
  <p class="about-prime__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo sem, posuere ut augue tincidunt, porta fringilla nisl. Etiam vitae elit tellus. Nunc vel tortor sed augue dignissim accumsan. Phasellus ultricies mollis mollis. Curabitur consequat urna mattis facilisis ultricies. Maecenas placerat ultrices egestas. Curabitur sit amet feugiat dui. Fusce tincidunt sapien at volutpat ultrices. Praesent gravida tellus sagittis diam hendrerit lacinia. Suspendisse aliquet at quam ut pretium. Mauris sem velit, ullamcorper placerat ornare feugiat, efficitur aliquet tortor. Sed vehicula urna at mi aliquet ullamcorper. Sed luctus accumsan ligula, porta mollis massa mattis in. In vestibulum felis metus, eget ornare erat facilisis a. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus lacinia, mauris id viverra volutpat, neque nunc dictum lorem, interdum malesuada libero libero id velit.</p>
  <p class="about-prime__description">In hac habitasse platea dictumst. Morbi non malesuada nisi. Nunc a imperdiet velit. Ut consectetur neque sed sem tempus, fringilla tristique elit interdum. Curabitur eget sodales sem, ac iaculis eros. Maecenas eu eros et dui malesuada blandit. Mauris elit ipsum, euismod vitae rutrum in, tincidunt vitae libero. Nam at dolor massa. Phasellus cursus, dui sed dictum pharetra, nisi ipsum elementum mauris, et varius purus sem eu nunc. Donec venenatis malesuada arcu eu cursus. In aliquam, nunc id consectetur tempor, tortor lectus vestibulum dui, a vulputate odio arcu et mi. Duis et gravida nunc. Ut ac massa at mi semper ornare. Nulla ac diam ex.</p>
  <div class="about-prime__footer-padding"></div>
</div>

