<div class="about-prime__container">
  <h1 class="about-prime__title">About Prime</h1>
  <br>
  <div class="about-prime__description">
  	<p>Welcome to the new website for prime, the Daily Bruin’s quarterly arts, culture and lifestyle magazine.</p>
  	<p>Since it first hit campus newsstands, prime has provided a space for Daily Bruin staffers to explore stories about UCLA and Los Angeles. The magazine strives to showcase students, faculty and other community members and gives Daily Bruin writers a platform to tell their own stories through personal columns. </p>
  	<p>prime pieces vary in tone and style, but previous stories have included features on the future of robotics, profiles on student veterans and their poetry, photo essays on introspective dance performances, personal columns on faith and mental health and guides on where to find the best tacos in Los Angeles. </p>
  	<p>Each quarter, the prime editors publish a letter to our readers that details what to expect from the issue. Here is the letter accompanying the fall 2017 issue of prime:</p>
  	<div class="about-prime__letter">
	  	<p>Dear reader, </p>
	  	<p>This quarter, we heard stories of students, artists and athletes using their talents as a way to heal — some cope with loss by immortalizing a friend through a tattoo and others by summiting a mountain peak.</p>
	  	<p>On our campus and in our city, students discover what matters to them through art. In this issue, we see how spoken word can be used to combat society’s “isms” and how revolutionary shows like “Hamilton” provide a stage for people of color to rise up and amplify their voices. Nerdy Bruins can read about niche places around Los Angeles that make them feel at home.</p>
	  	<p>For some students, self-expression doesn’t come easily. Parents might disapprove of our major or professors might stifle our views in class. But we hope this issue of prime encourages students of all backgrounds and experiences to find a space to tell their stories, embrace their passions and fight to be heard. </p>
	  	<p>prime regards,</p>
	  	<br>
	  	<img src="../../img/williamthornesignature.png" style="height:100px" />
	  	<br>
	  	<p>William Thorne, prime director</p>
	  	<br>
	  	<img src="../../img/lindsayweinberg.png" style="height:100px" />
	  	<br>
	  	<p>Lindsay Weinberg, prime content editor</p>
	  	<br>
	    <img src="../../img/umbreenalisignature.png" style="height:100px" />
	    <br>
	  	<p>Umbreen Ali, prime art director</p>
	</div>


  </div>
  <div class="about-prime__footer-padding"></div>
</div>

