<div class="col3__block">
  <div class="col3__block-imgbox">
    <img class="col3__block-imgbox-img" src="img/helix-nebula-1400x1400.jpg" alt="test_img_1">
    <div class="col3__block-imgbox-photo-credit-wrapper">
      <div class="col3__block-imgbox-photo-credit-name">AMY DIXON /</div>
      <div class="col3__block-imgbox-photo-credit-title">assistant photo editor</div>
    </div>
  </div>
  <div class="col3__block-textbox">
    <h3 class="col3__block-textbox-pretitle">ARTS</h3>
    <h2 class="col3__block-textbox-title">I actually like health bars they're good 4 u and</h2>
    <h2 class="col3__block-textbox-author">BY SOMEONE HERE</h2>
    <p class="col3__block-textbox-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
</div>
