<articleinfo>
<p id="category">ARTS</p>
<h1 id="title">I actually really like heath bars they're good 4 can go to the end</h1>
<p id="author">BY SOMEONE HERE</p>
<p id="season">FALL 2017</p>

    <i class="fa fa-facebook" aria-hidden="true"></i>
<div id="socialimage">
    <div id="social">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    </div>
    <div id="image">
    <img src="../../img/helix-nebula-1400x1400.jpg">
    </div>
</div>
</articleinfo>