<div class="picture" itemscope itemtype="http://schema.org/ImageGallery">
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1000x667" data-index="0">
      <img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" height="400" width="600" itemprop="thumbnail" alt="Beach">
    </a>
  </figure>
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="1000x667" data-index="1">
          <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" height="400" width="600" itemprop="thumbnail" alt="">
      </a>
  </figure>
</div>

