<articleinfo>
<p class="article__category">CULTURE</p>
<h1 class="article__title">A Picture of Independence</h1>
<div class="article__author byline">BY JULIETTE LE SAINT</div>
<div class="article__issue">FALL 2017</div>
