<div class="picture" itemscope itemtype="http://schema.org/ImageGallery">
  <div class="row">
    <div class="column large-4">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/bg1.jpg" itemprop="contentUrl" data-size="1700x2200">
            <img src="/img/bg1.jpg" itemprop="thumbnail" alt="Image description" style="height:400px" />
        </a>
        <figcaption itemprop="caption description">Page 1</figcaption>
      </figure>
    </div>
    <div class="column large-4">

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/bg2.jpg" itemprop="contentUrl" data-size="1700x2200">
            <img src="/img/bg2.jpg" itemprop="thumbnail" alt="Image description" style="height:400px"  />
        </a>
        <figcaption itemprop="caption description">Page 2</figcaption>
      </figure>
    </div>
    <div class="column large-4">

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/bg3.jpg" itemprop="contentUrl" data-size="1700x2200">
            <img src="/img/bg3.jpg" itemprop="thumbnail" alt="Image description" style="height:400px"  />
        </a>
        <figcaption itemprop="caption description">Page 3</figcaption>
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="column large-4">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/bg4.jpg" itemprop="contentUrl" data-size="1700x2200">
            <img src="/img/bg4.jpg" itemprop="thumbnail" alt="Image description" style="height:400px" />
        </a>
        <figcaption itemprop="caption description">Page  4</figcaption>
      </figure>
    </div>
    <div class="column large-4">

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/bg5.jpg" itemprop="contentUrl" data-size="1700x2200">
            <img src="/img/bg5.jpg" itemprop="thumbnail" alt="Image description" style="height:400px"  />
        </a>
        <figcaption itemprop="caption description">Page 5</figcaption>
      </figure>
    </div>
    <div class="column large-4">

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/bg6.jpg" itemprop="contentUrl" data-size="1700x2200">
            <img src="/img/bg6.jpg" itemprop="thumbnail" alt="Image description" style="height:400px"  />
        </a>
        <figcaption itemprop="caption description">Page 6</figcaption>
      </figure>
    </div>
  </div>
</div>
