<footer>
  <!-- © 2017
  <a href="http://dailybruin.com">The Daily Bruin</a>. -->
  <div class="footer">
	  <div class="about-prime">
	  	ABOUT PRIME
	  </div>
	  <div class="db-center">
	  	DAILY BRUIN
	  </div>
	  <div class="sharing-icons">
	  	<a href="www.facebook.com" class="fc-webicon facebook"><i class="fa fa-facebook"></i></a>
	  	<a href="#" class="fc-webicon facebook"><i class="fa fa-twitter"></i></a>
		<a href="#" class="fc-webicon facebook"><i class="fa fa-instagram"></i></a>
	  
	  </div>
  </div>
</footer>
