<footer>
  <div class="row">
    <div class="medium-6 small-12 column logo-col hide-for-medium">
      <a class="logo-col__link" href="http://dailybruin.com">
        <img class="db-logo" src="/img/db_logo.svg">
      </a>
    </div>
    <div class="medium-3 small-6 column text-left">
      <a class="about" href="./about-prime">About Prime</a>
    </div>
    <div class="medium-6 small-12 column logo-col show-for-medium">
      <a class="logo-col__link" href="http://dailybruin.com">
        <img class="db-logo" src="/img/db_logo.svg">
      </a>
    </div>
    <div class="medium-3 small-6 column social-right">
      <ul>
        <li>
          <a href="https://www.facebook.com/dailybruin">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/dailybruin">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/dailybruin">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="column small-12 hide-for-medium footer-padder"></div>
  </div>
</footer>
