<footer>
  <div class="row">
    <div class="medium-3 column text-left">
      <a class="about" href="#">About Prime</a>
    </div>
    <div class="medium-6 column logo-col">
      <a class="logo-col__link" href="http://dailybruin.com">
        <img class="db-logo" src="../../img/db_logo.svg">
      </a>
    </div>
    <div class="medium-3 column social-right">
      <ul>
        <li>FB</li>
        <li>INSTA</li>
      </ul>
    </div>

  </div>
</footer>
