<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title></title>
  <meta name="description" content="">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/allstories.css">
  <link href="https://fonts.googleapis.com/css?family=Arimo|Oswald|Ropa+Sans|Montserrat|Lora" rel="stylesheet">
</head>