<header>
  <h1>prime</h1>
  <h6>BY THE DAILY BRUIN</h6>
  <nav>
    <a>ALL STORIES</a>
    <a>ARTS</a>
    <a>CULTURE</a>
    <a>LIFESTYLE</a>
    <a>PAST ISSUES</a>
    <a>SEARCH</a>
  </nav>
</header>
