<div class="fixed top-bar-wrapper">
  <img id="top-bar-logo" class="logo top-bar-logo" src="../../img/primelogowhite.svg">
  <nav class="top-bar hidden" id="top-bar">
    <img id="left-bar-logo" class="logo left-bar-logo logo-hidden" src="../../img/primelogosmallwhite.svg">

    <ul class="menu show-for-medium">
      <li><a href="#">ALL STORIES</a></li>
      <li><a href="#">ARTS</a></li>
      <li><a href="#">CULTURE</a></li>
      <li><a href="#">LIFESTYLE</a></li>
      <li><a href="#">PAST ISSUES</a></li>
      {# <li><input type="search" placeholder="SEARCH"></li> #}
    </ul>

    {# <div class="row">
      {# <div class="small-2 columns">
      </div> #}


    {# <div class="top-bar-center">
    </div> #}
  </nav>
</div>
