<div class="column medium-10 medium-centered">
  <div class="latest-stories__container">
    <h1 class="latest-stories__title">LATEST STORIES</h1>
    <div class="row">
      {% include "./latest_stories_article.njk" %}
    </div>
    <div class="row">
      {% include "./latest_stories_article.njk" %}
    </div>
    <div class="row">
      {% include "./latest_stories_article.njk" %}
    </div>
  <hr class="hide-for-small-only latest-stories__black-line">
  </div>
</div>
