<div class="latest-stories__block">
  <div class="hide-for-small-only latest-stories__wrapper">
    <hr class="latest-stories__black-line">
      <a href="{{ data[story].path }}"><div class="large-4 column latest-stories__imgbox" style="background-image: url('img{{ data[story].path }}/{{ data[story].cover.img }}'); background-size: cover; background-position: 50% 50%; height: 250px;"></a>
        {# <img src="img{{ data[story].path }}{{ data[story].cover.img }}" alt="test-img"> #}
        <div class="latest-stories__block-imgbox-photo-credit-wrapper">
          <div class="latest-stories__block-imgbox-photo-credit-name">{{ data[story].cover.author }} /</div>
          <div class="latest-stories__block-imgbox-photo-credit-title">daily bruin</div>
        </div>
      </div>
      <div class="large-8 column latest-stories__textbox">
        <h2 class="latest-stories__textbox-pretitle">{{ data[story].category }}</h2>
        <a class="link__article" href="{{ data[story].path }}">
          <h2 class="latest-stories__textbox-title">{{ data[story].title }}</h2>
          <h3 class="latest-stories__textbox-author">BY {{ data[story].author }}</h3>
          <p class="latest-stories__textbox-body">{{ data[story].excerpt }}</p>
        </a>
      </div>
  </div>

  <div class="show-for-small-only latest-stories__wrapper-small">
    {# <div class="small-6 small-push-1 left column latest-stories__textbox-small">
      <h2 class="latest-stories__textbox-pretitle-small">CULTURE</h2>
      <h2 class="latest-stories__textbox-title-small">Headline here i think n -m heath bars! now in mobilye headline please writeu</h2>
      <h3 class="latest-stories__textbox-author-small">BY SOMEONE HERE</h3>
    </div>
    <div class="small-4 small-pull-1 right column latest-stories__imgbox-small">
      <img src="img/helix-nebula-1400x1400.jpg" alt="test-img">
    </div> #}
    <div class="small-8 column latest-stories__textbox-small">
      <a class="link__article" href="{{ data[story].path }}">
        <h2 class="latest-stories__textbox-pretitle-small">{{ data[story].category }}</h2>
        <h2 class="latest-stories__textbox-title-small">{{ data[story].title }}</h2>
        <h3 class="latest-stories__textbox-author-small">BY {{ data[story].author }}</h3>
      </a>
    </div>
    <div class="small-4 column latest-stories__imgbox-small">
      <img src="img{{ data[story].path }}/{{ data[story].cover.img }}" alt="test-img">
    </div>
    <div class="small-12 column latest-stories__textbox-body-small">
      <a class="link__article" href="{{ data[story].path }}">
        <p>{{ data[story].excerpt }}</p>
      </a>
    </div>
    <div class="small-12 column latest-stories__separator-small">
    </div>

    {# <div class="row">
      <div class="small-6 small-push-1 left column latest-stories__textbox-small">
        <h2 class="latest-stories__textbox-pretitle-small">CULTURE</h2>
        <h2 class="latest-stories__textbox-title-small">Headline here i think n -m heath bars! now in mobilye headline please writeu</h2>
        <h3 class="latest-stories__textbox-author-small">BY SOMEONE HERE</h3>
      </div>
      <div class="small-4 small-pull-1 right column latest-stories__imgbox-small">
        <img src="img/helix-nebula-1400x1400.jpg" alt="test-img">
      </div>
    </div> #}
    {# <div class="row">
      <div class="small-12 small-push-1 column">
        <p class="latest-stories__textbox-body-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div> #}
  </div>
</div>
