<div class="col2__container">
	<!-- <div class="grid-x">
		<div class="large-10 large-centered columns">dfd</div>
	</div> -->
</div>
<div class="grid-container">
	<div class="grid-x grid-margin-x">
	<div class="large-12 medium-6 cell">
		<div class="grid-x grid-margin-x">
			<div class="large-8 column"> 
				<div class="photo">
					<img src="../../img/helix-nebula-1400x1400.jpg" >
				</div>
					<div class="photo-credit-wrapper">
						<div class="photo-credit-name">AMY DIXON / 
						<div class="photo-credit-title">assistant photo editor</div>
					</div>
				</div>
			</div>
			<div class="large-4 column">
				<div class="main-story">
					<div class="category">
						CATEGORY
					</div>
					<div class="title">
						I actually really like health bars they're good
					</div>
					<div class="author">
						BY SOMEONE HERE
					</div>
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et velit in lacus egestas porta vel vel dui. Phasellus euismod sapien nec condimentum iaculis. Cras eleifend egestas cursus. Vivamus ultricies turpis dui, vel sodales turpis aliquam sed. Praesent varius ante at blandit congue. 
					</div>
				</div>
			</div>
		</div>
	  </div>
	  <hr class="black-line">
	  <hr class="black-line">
 	</div>
</div>