<div class="row">
	<div class="column large-8">
		<div class="photo">
			<img src="img/helix-nebula-1400x1400.jpg" >
			<div class="photo-credit-wrapper">
				<div class="photo-credit-name">AMY DIXON /
					<div class="photo-credit-title">assistant photo editor</div>
				</div>
			</div>
		</div>

	</div>
	<div class="column large-4">
		<div class="main-story">
			<div class="category">
				CATEGORY
			</div>
			<div class="title">
				I actually really like health bars they're good
			</div>
			<div class="author">
				BY SOMEONE HERE
			</div>
			<div class="description">
				Really, heath bars are something close to an ideal chocolate. I think 100 grands are close but heath bars ooo they really take the cake hmm
			</div>
		</div>

  </div>
  <hr class="main-story__black-line">
  <hr class="main-story__black-line">
  <div class="main-story__space"></div>
</div>
