<div class="m-primary-story-item">
  <div class="mobile-photo">
    <img src="img{{ data[story].path }}/{{ data[story].cover.img }}">
  </div>
  <div class="content">
    <h3>{{ data[story].category }}</h3>
    <a class="link__article" href="{{ data[story].path }}">
      <h2>{{ data[story].title }}</h2>
      <h4>BY {{ data[story].author }}</h4>
      <p>{{ data[story].excerpt }}</p>
    </a>
  </div>
  <hr class="m-primary-story-item__black-line">
</div>
