<div class="row large-12">
  <div class="row large-3 page-number__container">
    <div class="column large-1 page-number__number">
      <a class="page-number__number-link" href="#">1</a>
    </div>
    <div class="column large-1 page-number__number">
      <a class="page-number__number-link" href="#">2</a>
    </div>
    <div class="column large-1 page-number__number">
      <a class="page-number__number-link" href="#">3</a>
    </div>
    <div class="column large-1 page-number__dots">
      <p>...</p>
    </div>
    <div class="column large-2 page-number__word">
      <a class="page-number__word-link" href="#">NEXT</a>
    </div>
    <div class="column large-2 end page-number__word">
      <a class="page-number__word-link" href="#">LAST</a>
    </div>
  </div>
</div>
