<div class="past_section">
	<h1>Past Issues</h1>
	<hr class="section_black-line">
    <hr class="section_black-line">
  	{% include "./3col_container_pdf.njk" %}
  	<hr class="section_black-line">
	<hr class="section_black-line">
  	{% include "./3col_container_pdf.njk" %}

</div>