<div class="col3__block">
  <div class="col3__block-imgbox">
    <!-- make the image a link later -->
    <img src="img/helix-nebula-1400x1400.jpg" alt="test_img_1">
  </div>
  <div class="col3__block-textbox">
    <h3 class="col3__block-textbox-pretitle">Spring 2017</h3>
    <h2 class="col3__block-textbox-title">Is there a title for prime</h2>
    <h2 class="col3__block-textbox-author">BY SOMEONE HERE</h2>
    <p class="col3__block-textbox-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  </div>
</div>
