<div id="footer-padder" class="hidden"></div>
<div id="phonetab__wrapper" class="hidden hide-for-medium">
	<div class="tab_background">
	<ul class="bar_wrapper">
		<li class="text"><a href="../../index">TOP STORIES</a></li>
		<li class="text"><a href="../../section">ARTS</a></li>
		<li class="text"><a href="../../section">CULTURE</a></li>
		<li class="text"><a href="../../section">LIFESTYLE</a></li>
	</ul>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	let $window = $(window);
	let $phonetab = $('#phonetab__wrapper');
	let $footer_padder = $('#footer-padder');
	let ratio = $window.height() / $window.width();
	if (ratio > 0.65) {
		$phonetab.removeClass('hidden');
		$footer_padder.removeClass('hidden');
	} else {
		if (!$phonetab.hasClass('hidden')) {
			$phonetab.addClass('hidden')
		}
		if (!$footer_padder.hasClass('hidden')) {
			$footer_padder.addClass('hidden')
		}
	}
	$window.resize(function() {
		let ratio = $window.height() / $window.width();
		if (ratio > 0.65) {
			$phonetab.removeClass('hidden');
			$footer_padder.removeClass('hidden');
		} else {
			if (!$phonetab.hasClass('hidden')) {
				$phonetab.addClass('hidden')
			}
			if (!$footer_padder.hasClass('hidden')) {
				$footer_padder.addClass('hidden')
			}
		}
	});
})
</script>
