<div>
    <h3 style="text-align: center">POPULAR STORIES</h3>
    <div class="row articles">
        <div class="column medium-2">
            <div class="article-number">1.</div> 
        </div>
        <div class="column medium-5">
            <p>culture</p>
            <p>title of the article</p>
            <p>author name</p>
        </div>
        <div class="column medium-5">
            photo goes here
        </div>
    </div>
<!--    <div class="row articles">
        <div class="column medium-2">
            2. 
        </div>
        <div class="column medium-5">
            <p>content title</p>
            <p>title of the article</p>
            <p>author name</p>
        </div>
        <div class="column medium-5">
            photo goes here
        </div>
    </div>
    <div class="row articles">
        <div class="column medium-2">
            3. 
        </div>
        <div class="column medium-5">
            <p>content title</p>
            <p>title of the article</p>
            <p>author name</p>
        </div>
        <div class="column medium-5">
            photo goes here
        </div>
    </div>
    <div class="row articles">
        <div class="column medium-2">
            4. 
        </div>
        <div class="column medium-5">
            <p>content title</p>
            <p>title of the article</p>
            <p>author name</p>
        </div>
        <div class="column medium-5">
            photo goes here
        </div>
    </div>-->
</div>