<div class="popular-stories">
    <h3 class="header">POPULAR STORIES</h3>
    <div class="row articles">
        <div class="column medium-1">
            <div class="article-number">1.</div> 
        </div>
        <div class="column medium-6">
            <p class="article-type">Culture</p>
            <p class="article-title">A Geeks Guide To Los Angeles</p>
            <p class="article-author">Oliva Mazzucato</p>
        </div>
        <div class="column medium-5 article-photo">
            <img src="../../img/bg1.jpg">
        </div>
    </div>
    <div class="row articles">
        <div class="column medium-1">
            <div class="article-number">2.</div> 
        </div>
        <div class="column medium-6">
            <p class="article-type">Culture</p>
            <p class="article-title">A Geeks Guide To Los Angeles</p>
            <p class="article-author">Oliva Mazzucato</p>
        </div>
        <div class="column medium-5 article-photo">
            <img src="../../img/bg1.jpg">
        </div>
    </div>
    <div class="row articles">
        <div class="column medium-1">
            <div class="article-number">3.</div> 
        </div>
        <div class="column medium-6">
            <p class="article-type">Culture</p>
            <p class="article-title">A Geeks Guide To Los Angeles</p>
            <p class="article-author">Oliva Mazzucato</p>
        </div>
        <div class="column medium-5 article-photo">
            <img src="../../img/bg1.jpg">
        </div>
    </div>
    <div class="row articles">
        <div class="column medium-1">
            <div class="article-number">4.</div> 
        </div>
        <div class="column medium-6">
            <p class="article-type">Culture</p>
            <p class="article-title">A Geeks Guide To Los Angeles</p>
            <p class="article-author">Oliva Mazzucato</p>
        </div>
        <div class="column medium-5 article-photo">
            <img src="../../img/bg1.jpg">
        </div>
    </div>
</div>