<div>
    <h3>POPULAR STORIES</h3>
    <div class="row articles">
        <div class="column medium-6">
            text goes here
        </div>
        <div class="column medium-6">
            photo goes here
        </div>
    </div>
    <div class="row articles">
        <div class="column medium-6">
            text goes here
        </div>
        <div class="column medium-6">
            photo goes here
        </div>
    </div>
    <div class="row articles">
        <div class="column medium-6">
            text goes here
        </div>
        <div class="column medium-6">
            photo goes here
        </div>
    </div>
    <div class="row articles">
        <div class="column medium-6">
            text goes here
        </div>
        <div class="column medium-6">
            photo goes here
        </div>
    </div>    
</div>