<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js"></script>
<script src="js/comic.js"></script>
<script src="js/bundle.js"></script>
<script src="js/photoswipe-ui-default.min.js"></script>
<script src="js/photoswipe.min.js"></script>
<script src="js/comic.js"></script>

{% block additional_scripts %}
{% endblock %}