<div class="section">
	<h1 class="hide-for-small-only">ARTS</h1>
  <h1 class="show-for-small-only section_category">ARTS</h1>
	<hr class="section_black-line">
    <hr class="section_black-line">
    <br>
    <div class="row">
    	<div class="column medium-8">
			<div class="photo">
				<img src="img/helix-nebula-1400x1400.jpg" >
				<div class="photo-credit-wrapper">
					<div class="photo-credit-name">AMY DIXON /
						<div class="photo-credit-title">assistant photo editor</div>
					</div>
				</div>
			</div>
			<div class="section_main-story">
				<div class="section_title">I actually like health bars they're very very good 4 u</div>
	    		<div class="section_author">BY SOMEONE HERE</div>
	    		<div class="section_body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum has been the industry's standard dummy text</div>
	    	</div>
    	</div>

    	<div class="column medium-4">
    		<div class="row">
		        {% include "./side_main_stories.njk" %}
		    </div>
		    <hr class="black-line">
		    <div class="row">
		        {% include "./side_main_stories.njk" %}
		    </div>
		    <hr class="black-line">
		    <div class="row">
		        {% include "./side_main_stories.njk" %}
		  </div>
    	</div>
    </div>
  <div class="footer-padding"></div>
  <!-- <hr class="hide-for-small-only section_black-line">
  <hr class="hide-for-small-only section_black-line"> -->
</div>
