<div class="section_block">
  <div class="row">
    <div class="medium-7 column">
      <div class="section_block-title">{{ data[featured].title }}</div>
    </div>
    <div class="medium-5 column imgbox">
      <img src="img{{ data[featured].path }}{{ data[featured].cover.img }}" alt="test-img">
    </div>
  </div>
  <div class="row">
    <div class="medium-12 column">
      <div class="section_block-author">BY {{ data[featured].author }}</div>
      <div class="section_block-body">{{ data[featured].excerpt }}</div>
    </div>
  </div>
</div>
