<div class="section_block">
  <div class="row">
    <div class="medium-7 column">
      <a class="link__article" href="{{ data[featured].path }}"><div class="section_block-title">{{ data[featured].title }}</div></a>
    </div>
    <div class="medium-5 column imgbox">
      <a href="{{ data[featured].path }}"><img src="img{{ data[featured].path }}/{{ data[featured].cover.img }}" alt="test-img"></a>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 column">
      <a class="link__article" href="{{ data[featured].path }}">
        <div class="section_block-author">BY {{ data[featured].author }}</div>
        <div class="section_block-body">{{ data[featured].excerpt }}</div>
      </a>
    </div>
  </div>
</div>
