    <div class="column large-1" id="article__social-buttons">
      <span class="fa-stack fa-2x article__social-icon">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-2x article__social-icon">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-2x article__social-icon">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-2x article__social-icon">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-print fa-stack-1x fa-inverse"></i>
      </span>
    </div>
