<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/jssocials.css" />\
<link type="text/css" rel="stylesheet" href="/css/jssocials-theme.css" />

<script>
  $("#article__social-buttons").jsSocials({
    showLabel: false,
    showCount: false,
    shares: ["twitter", "facebook", "googleplus", "linkedin", "email"]
  });
</script>
