<div class="fixed top-bar-wrapper">
<img id="top-bar-logo" class="logo top-bar-logo" src="../../img/primelogowhite.svg">
  <nav class="top-bar" id="top-bar">
    <div class="top-bar-center">
      <img id="left-bar-logo" class="logo left-bar-logo logo-hidden" src="../../img/primelogosmallwhite.svg">
      <ul class="menu top-bar-menu">
        <li><a href="./index">ALL STORIES</a></li>
        <li><a href="./section">ARTS</a></li>
        <li><a href="./section">CULTURE</a></li>
        <li><a href="./section">LIFESTYLE</a></li>
        <li><a href="./past_issues">PAST ISSUES</a></li>
        <!-- <li><input type="search" placeholder="SEARCH"></li> -->
      </ul>
    </div>
  </nav>
</div>
<script type="text/javascript">
$(window).scroll(function() {
  let $topBarLogoElem = $("#top-bar-logo");
  let $leftBarLogoElem = $("#left-bar-logo");
  if ($(window).scrollTop() >= 800) {
    if (!$topBarLogoElem.hasClass('logo-hidden')) {
      $topBarLogoElem.addClass('logo-hidden');
    }
    if ($leftBarLogoElem.hasClass('logo-hidden')) {
      $leftBarLogoElem.removeClass('logo-hidden');
    }
  } else {
    if ($topBarLogoElem.hasClass('logo-hidden')) {
      $topBarLogoElem.removeClass('logo-hidden');
    }
    if (!$leftBarLogoElem.hasClass('logo-hidden')) {
      $leftBarLogoElem.addClass('logo-hidden');
    }
  }
});

$(document).ready(function() {
  let $window = $(window);
  let $topbar = $('#top-bar');
  let $topbarlogo = $('#top-bar-logo');
  let ratio = $window.height() / $window.width();
  if (ratio <= 0.65) {
    $topbar.removeClass('hidden');
    $topbarlogo.removeClass('top-bar-logo-fixed');
  } else {
    if (!$topbar.hasClass('hidden')) {
      $topbar.addClass('hidden')
    }
    if (!$topbarlogo.hasClass('top-bar-logo-fixed')) {
      $topbarlogo.addClass('top-bar-logo-fixed')
    }
  }
  $window.resize(function() {
    let ratio = $window.height() / $window.width();
    if (ratio <= 0.65) {
      $topbar.removeClass('hidden');
      $topbarlogo.removeClass('top-bar-logo-fixed');
    } else {
      if (!$topbar.hasClass('hidden')) {
        $topbar.addClass('hidden')
      }
      if (!$topbarlogo.hasClass('top-bar-logo-fixed')) {
        $topbarlogo.addClass('top-bar-logo-fixed')
      }
    }
  });
});
</script>