<div class="fixed top-bar-wrapper">
  <a href="/"><img id="top-bar-logo" class="logo top-bar-logo" src="/img/primelogowhite.svg"></a>

  <a href="/"><img id="left-bar-logo" class="logo left-bar-logo logo-hidden" src="/img/primelogosmallwhite.svg"></a>
  <nav class="top-bar hidden" id="top-bar">
    <ul class="menu show-for-medium">
      <li><a href="/">ALL STORIES</a></li>
      <li><a href="/arts">ARTS</a></li>
      <li><a href="/culture">CULTURE</a></li>
      <li><a href="/lifestyle">LIFESTYLE</a></li>
      <li><a href="/past_issues">PAST ISSUES</a></li>
      {# <li><input type="search" placeholder="SEARCH"></li> #}
    </ul>
  </nav>
</div>
