<div class="fixed top-bar-wrapper">
  <img id="top-bar-logo" class="logo top-bar-logo" src="img/primelogowhite.svg">
  <nav class="top-bar hidden" id="top-bar">
    <img id="left-bar-logo" class="logo left-bar-logo logo-hidden" src="img/primelogosmallwhite.svg">

    <ul class="menu show-for-medium">
      <li><a href="./index">ALL STORIES</a></li>
      <li><a href="./section">ARTS</a></li>
      <li><a href="./section">CULTURE</a></li>
      <li><a href="./section">LIFESTYLE</a></li>
      <li><a href="./past_issues">PAST ISSUES</a></li>
      {# <li><input type="search" placeholder="SEARCH"></li> #}
    </ul>
  </nav>
</div>
