<div>
  <div class="page-number__container hide">
    <div class="page-number__number-wrapper">
      <div class="page-number__number">
        <a class="page-number__number-link" href="#">1</a>
      </div>
      <div class="page-number__number">
        <a class="page-number__number-link" href="#">2</a>
      </div>
      <div class="page-number__number">
        <a class="page-number__number-link" href="#">3</a>
      </div>
      <div class="page-number__dots">
        <p>...</p>
      </div>
    </div>
    <div class="page-number__word-wrapper">
      <div class="page-number__word">
        <a class="page-number__word-link" href="#">NEXT</a>
      </div>
      <div class="page-number__word">
        <a class="page-number__word-link" href="#">LAST</a>
      </div>
    </div>
  </div>
</div>
