<div class="col3__wrapper">
  {% for featured in data.featured %}
  <div class="columns medium-4 main-block">
    <div class="col3__block">
      <a class="link__article" href="{{ featured.issue.name }}/{{ featured.slug }}">

      <div class="col3__block-imgbox" style="background-image:url('{{ featured.cover.imgurl }}'); background-size: cover; background-position: 50% 50%; height: 225px;">
        <div class="col3__block-imgbox-photo-credit-wrapper">
          <div class="col3__block-imgbox-photo-credit-name">{{ featured.cover.author }} /</div>
          <div class="col3__block-imgbox-photo-credit-title">daily bruin</div>
        </div>
      </div>
      </a>
      <div class="col3__block-textbox">
        <h3 class="col3__block-textbox-pretitle">{{ featured.section }}</h3>
        <a class="link__article" href="{{ featured.issue.name }}/{{ featured.slug }}">
          <h2 class="col3__block-textbox-title">{{ featured.title }}</h2>
          <h2 class="col3__block-textbox-author">BY <span class="author-name">{{ featured.author }}</span></h2>
          <p class="col3__block-textbox-body">{{ featured.content.excerpt }}</p>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<hr class="col3__black-line-top">
<hr class="col3__black-line-bottom">
