<div id="main">
  <div class="navbar-padding"></div>
  <div>
    {% include "../partials/articleinfo.njk" %}
  </div>
  <div class="columns small-12 medium-4">
    <div class="popular-stories">
      {% include "../partials/popular_stories.njk" %}
    </div>
  </div>
</div>
