{# <meta property="og:type"               content="author-bio" />
<meta property="og:title"              content="prime | {{ data.article.title }}" />
<meta property="og:description"        content="{{ data.article.content.excerpt.html }}" />
<meta property="og:image"              content="{{ data.article.cover.imgurl }}" /> #}

<author-bio>
<div class="flex-container">
	<div class="row">
		<div class="article__author-bio-space column medium-3">
		 	a
		</div>
		<hr class="article__author-bio-black-line column medium-6">
		<div class="article__author-bio-space column medium-3">
		 	a
		</div>
	</div>
	<div class="row">	
		<div class="article__author-bio-space column medium-2">
		 	a
		</div>
		<div class="article__author-bio-icon column medium-4">
			<img src="{{ data.article.cover.imgurl }}">
		</div>
		<div class="article__author-bio column medium-4">
			Writer bio goes here. Really, heath bars are something 
			close to an ideal chocolate. I think 100 grands are close 
			but heath bars ooo they really take the cake hmm i’ve ran 
			out of things to say but i need this here please thanks Love ya v much will be
		</div>
		<div class="article__author-bio-space column medium-2">
			a
		</div>
	</div>
	<div class="row">
		<div class="article__author-bio-space column medium-3">
		 	a
		</div>
		<hr class="article__author-bio-black-line column medium-6">
		<div class="article__author-bio-space column medium-3">
		 	a
		</div>
	</div>
</div>
</author-bio>
