<footer>
  <div class="row">
    <div class="medium-6 small-12 column logo-col hide-for-medium">
      <a class="logo-col__link" href="http://dailybruin.com">
        <img class="db-logo" src="/img/db_logo.svg">
      </a>
    </div>
    <div class="medium-3 small-6 column text-left">
      <a class="about" href="/about-prime">About prime</a>
    </div>
    <div class="medium-6 small-12 column logo-col show-for-medium">
      <a class="logo-col__link" href="http://dailybruin.com">
        <img class="db-logo" src="/img/db_logo.svg">
      </a>
    </div>
    <div class="medium-3 small-6 column social-right">
      <ul>
        <li>
          <a href="https://www.facebook.com/dailybruin">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/dailybruin">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/dailybruinprime">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="medium-2 small-12 column text-left hide-for-small-only desc">Contact us: 
      <a class="maillink" href="mailto:online@media.ucla.edu">online@media.ucla.edu</a>
    </div>
    <div class="medium-8 small-12 column text-center desc">Prime is the official website for the Daily Bruin's quarterly arts, culture, and lifestyle magazine.<br /> © UCLA Student Media 1998 - 2018<br />Built with love at 118 Kerckhoff Hall</div>
    <div class="medium-2 column text-right desc"> </div>
  </div>
  <div class="row">
    <div class="column small-12 hide-for-medium footer-padder"></div>
  </div>
</footer>
