<div class="m-primary-story-item">
  <div class="mobile-photo">
    <a class="link__article" href="{{ story.path }}">
      <img src="{{ story.cover.imgurl }}">
    </a>
  </div>
  <div class="content">
    <h3>{{ story.section }}</h3>
    <a class="link__article" href="{{ story.path }}">
      <h2>{{ story.title }}</h2>
      <h4>BY <span class="author-name">{{ story.author }}</span></h4>
      <p>{{ story.content.excerpt }}</p>
    </a>
  </div>
  <hr class="m-primary-story-item__black-line">
</div>
