<div class="m-primary-story-item">
  <div class="mobile-photo">
    <a class="link__article" href="{{ story.path }}">
      <img src="{{ story.cover.imgurl }}">
    </a>

  </div>
  <div class="content">
		<p class="photo-credit" style="margin:0; padding:0; font-size: 10px; text-align:right;">{{ story.cover.author }}</p>
    <h3><a href="/{{ story.section }}" class="category-link">{{ story.section | upper }}</a></h3>
    <a class="link__article" href="{{ story.path }}">
      <h2>{{ story.title }}</h2>
      <h4>BY <span class="author-name">{{ story.author }}</span></h4>
      <p>{{ story.content.excerpt }}</p>
    </a>
  </div>
  <hr class="m-primary-story-item__black-line">
</div>
