{% extends "./layouts/base.njk" %}

{% block content %}
<div class="navbar-padding"></div>
<div class="row">
	<div class="column medium-12 medium-centered">
		<form method ="GET" action="/search">
			<input type="text" name="query">
		</form>
	</div>
</div>
<div class="row">
	<!-- input the articles here -->
	
</div>
<div class="footer-padding"></div>
{% endblock %}
