<div class="section">
  <h1 class="hide-for-small-only">{{ data.section }}</h1>
  <h1 class="show-for-small-only section_category">{{ data.section }}</h1>
  <hr class="section_black-line">
    <hr class="section_black-line">
    <br>
    <div class="row">
      <div class="column medium-8">
      <div class="photo">
        <a href="{{ data.mainarticle.issue.name }}/{{ data.mainarticle.slug }}">
          <img src="{{ data.mainarticle.cover.imgurl }}" >
        </a>
        <div class="photo-credit-wrapper">
          <div class="photo-credit-name">{{ data.mainarticle.cover.author }} /
            <div class="photo-credit-title">daily bruin</div>
          </div>
        </div>
      </div>
      <div class="section_main-story">
        <a class="link__article" href="{{ data.mainarticle.issue.name }}/{{ data.mainarticle.slug }}">
          <div class="section_title">{{ data.mainarticle.title }}</div>
            <div class="section_author">BY <span class="author-name">{{ data.mainarticle.author }}</span></div>
            <div class="section_body">{{ data.mainarticle.content.excerpt }}</div>
          </div>
        </a>
      </div>

      <div class="column medium-4">
        {% for article in data.featuredarticles %}
        <div class="row">
            {% include "./side_main_stories.njk" %}
        </div>
        <hr class="black-line">
        {% endfor %}
      </div>
    </div>
  <div class="footer-padding"></div>
  <!-- <hr class="hide-for-small-only section_black-line">
  <hr class="hide-for-small-only section_black-line"> -->
</div>
