<div class="section_block">
  <div class="row">
    <div class="medium-12 large-7 column">
      <a class="link__article" href="{{ article.path }}"><div class="section_block-title">{{ article.title }}</div></a>
    </div>
    <div class="medium-12 large-5 column imgbox">
			<div class="row">
      	<a href="{{ article.path }}"><img class="sidephoto" src="{{ article.cover.imgurl }}" alt="{{ article.title }} cover image"></a>
			</div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 column">
      <a class="link__article" href="{{ article.path }}">
        <div class="section_block-author">BY <span class="author-name">{{ article.author }}</span></div>
        <div class="section_block-body">{{ article.content.excerpt }}</div>
      </a>
    </div>
  </div>
</div>
