<div class="section_block">
  <div class="row">
    <div class="medium-7 column">
      <a class="link__article" href="{{ article.issue.name }}/{{ article.slug }}"><div class="section_block-title">{{ article.title }}</div></a>
    </div>
    <div class="medium-5 column imgbox">
      <a href="{{ article.issue.name }}/{{ article.slug }}"><img src="{{ article.cover.imgurl }}" alt="{{ article.title }} cover image"></a>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 column">
      <a class="link__article" href="{{ article.issue.name }}/{{ article.slug }}">
        <div class="section_block-author">BY <span class="author-name">{{ article.author }}</span></div>
        <div class="section_block-body">{{ article.excerpt }}</div>
      </a>
    </div>
  </div>
</div>
