.about-prime__container {
  padding: 20px;
}

.about-prime__container .about-prime__title {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-stretch: condensed;
}

.about-prime__container .about-prime__description {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.about-prime__container .about-prime__description .about-prime__letter {
  padding-left: 40px;
  padding-right: 40px;
  font-style: italic;
}

.about-prime__container .about-prime__footer-padding {
  padding: 1em;
}
