.section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}

.section .section_category {
  text-align: center;
}

.section_main-story {
  text-align: center;
}

.section_main-story .section_title {
  font-family: "Ropa Sans", sans-serif;
  font-size: 40px;
  line-height: 42px;
  padding-bottom: 22px;
}

.section_main-story .section_author {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 18px;
}

.section_main-story .section_body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 40px;
}

.section_block {
  padding-left: 20px;
}

.section_block .section_block-title {
  font-family: "Ropa Sans", sans-serif;
  font-size: 33px;
  line-height: 30px;
  line-height: 40px;
}

.section_block .section_block-author {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

.section_block .section_block-body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-weight: 10px;
}

.section_black-line {
  margin: 0.2em;
  border-bottom: 1px solid black;
  opacity: 0.5;
}
