<!DOCTYPE html>
<html class="no-js" lang="en-US">
{% include "../partials/head.njk" %}

<body>
  <div class="header"> 
    {% include "../partials/header.njk" %}
  </div>

  <div id="main">
    <div>
      {% include "../partials/articleinfo.njk" %}
    </div>

    <div class="content">
      {% include "../partials/fillercontent.njk" %}
    </div>
  </div>

  {% include "../partials/footer.njk" %}
  {% include "../partials/scripts.njk" %}
</body>

</html>