<!DOCTYPE html>
<html class="no-js" lang="en-US">
{% include "../partials/head.njk" %}
<body>
{% include "../partials/tabs.njk" %}
  {% include "../partials/header.njk" %}

   {% block content %}{% endblock %}

  {% include "../partials/phonetab.njk" %}
  {% include "../partials/footer.njk" %}
  {% include "../partials/scripts.njk" %}
</body>
</html>
