@import "colors";
@import "utils";

footer {
  &.hidden {
    display: none;
  }

  @media screen and (max-width: $small-only) {
    height: 110px;
  }

  @media screen and (min-width: $small-only) {
    height: 74.5px;
  }

  // height: 74.5px;
  padding-top: 1em;
  width: 100%;
  background-color: $header-footer-black;
  color: $white;

  .logo-col {
    text-align: center;

    .db-logo {
      height: 40px;
    }
  }

  .text-left {
    margin-top: 0.5rem;
  }

  .social-right {
    margin-top: 0.5rem;

    ul {
      float: right;

      li {
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;

        a {
          color: $white;
        }

        .fa-facebook-square:hover {
          color: $facebook-blue;
        }

        .fa-twitter-square:hover {
          color: $twitter-blue;
        }

        .fa-instagram:hover {
          color: $instagram-pink;
        }
      }
    }
  }

  .about {
    font-size: 1.1rem;
    color: $white;

    &:hover {
      border-bottom: 1px solid;
      color: $white;
    }
  }

  .footer-padder {
    height: 4.4em;
  }
}

// .about-prime {
//   float: left;
//   color: white;
//   display: inline-block;
//   text-align: center;
//   position: absolute;
//   top: 33%;
//   width: 30%;
//   font-family: 'Lato';

// }

// .sharing-icons {
//   position: absolute;
//   top: 30%;
//   right: 10%;
//   float: right;

// }

// i.fa {
//   display: inline-block;
//   border-radius: 60px;
//   box-shadow: 0px 0px 2px #888;
//   padding: 0.5em 0.6em;
//   color: white;
// }
