.article__author-bio-space {
	color: white;
}

.article__author-bio-icon {
	height: 40%;
	width: 20%;
	img {
		border-radius: 100%;
	}
}

.article__author-bio-black-line {
	margin-left: 12em;
	margin-right: 12em;
}
