.my-gallery {
	width: 100%;
	float: left;
}
.my-gallery img {
	width: 100%;
	height: auto;
}
.my-gallery figure {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	width: auto;
}
.my-gallery figcaption {
	display: none;
}
.photo-gallery img {
	height: auto;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.three-cols {
	flex-grow: 1;
}

.two-cols {
	height: auto;
	width: 500px;
}

.picture {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
