.popular-stories {
	margin-top: 365px;
	position: sticky;
	top: 90px;
}

.articles {
  margin-bottom: 15px;
}
.popular-stories p {
  margin-bottom: 0;
}
.header {
  text-align: center;
  border-bottom: 1px black solid;
  font-family: "Lato", sans-serif;
  font-size: 36px;
}

.article-number {
  padding-top: 20px;
  font-family: "Ropa Sans", sans-serif;
  font-size: 30px;
}

.article-type {
  font-family: "Ropa Sans", sans-serif;
  font-size: 20px;
}

.article-title {
	font-family: "Ropa Sans", sans-serif;
	line-height: 1;
  font-size: 24px;
}

.article-author {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
	font-weight: 700;
	line-height: 1;
	margin-top: 0.3rem;
}

.popular-link {
	color: black;
  font-weight: normal;
  text-decoration: inherit;
}

.article-photo {
	height: 100px;
	background-size: cover;
	background-position: 50% 30%;
}

.article-photo img {
  padding-top: 10px;
  width: 100%;
}

@media screen and (max-width: 39.9375em) {
  .popular-stories {
    margin-top: 0;
  }
  .article-number {
    display: none;
  }
}
