<articleinfo>
<p class="article__category">ARTS</p>
<h1 class="article__title">I actually really like heath bars they're good 4 can go to the end</h1>
<div class="article__author byline">BY SOMEONE HERE</div>
<div class="article__issue">FALL 2017</div>

<div class="flex-container">
  <div class="row">
    <div class="column large-1" id="article__social-buttons"></div>

    <div class="column large-11" id="socialimage">
      <div id="image">
      <img src="img/helix-nebula-1400x1400.jpg">
      </div>
      
      {# <div class="columns small-12 medium-8"> #}
      <div class="article__content">
        {% include "../partials/fillercontent.njk" %}
      </div>
      {# </div> #}

    </div>
  </div>
</div>
</articleinfo>

{% include "./socials.njk" %}
