{% macro inlineimg(src, name='Staff', db_position='Daily Bruin', float_pos='left', alt='') %}
    <div class="article__inlineimg {{ float_pos }}">
     <img src="{{src}}" alt={{alt}} />
     <div class="article__block-imgbox-photo-credit-wrapper">
        <div class="article__block-imgbox-photo-credit-name">{{ name }}</div>
        <div class="article__block-imgbox-photo-credit-title">/{{db_position }}</div>
     </div>
    </div>
{% endmacro %}
<article>
<p>
Atiiscie nimodi utesed estium audam antissime nobis sumqui doloreici to ium quae erae. Luptate mporepe lignatusda dem harchiliqui qui non conecullor suntotatibus dem vel id ute volore vero dolorpore pra simi, quis ex earibea con nustrum con eos doluptate eturenectur sectates simpos aut adi aliquam accum quas simusda ectemquo bla- boriore estiandus ex eatecta dolorem dolesed molupta quistinti quatem natinciae of cabo. Ut ad quaerum harchil iquossum ad et laborem atis doluptur sam cus doluptae quos aut ev- elitio voluptatum, quam quam qui corrupi tiosam aut alite simet pe ditatur as mosae occus enis simagniame dolecti urecab inctor ratempos debis eos aut of ci berfere, velles exerferro blanihilique magnis aut aut rem qui odit ut quisquam expel il exerorita sequiatum enihili gendisto modion nia non num num, es iniaepudae volupta tionse intion pore, quo consequamus.
</p>

<p>
Atiiscie nimodi utesed estium audam antissime nobis sumqui doloreici to ium quae erae. Luptate mporepe lignatusda dem harchiliqui qui non conecullor suntotatibus dem vel id ute volore vero dolorpore pra simi, quis ex earibea con nustrum con eos doluptate eturenectur sectates simpos aut adi aliquam accum quas simusda ectemquo bla- boriore estiandus ex eatecta dolorem dolesed molupta quistinti quatem natinciae of cabo. Ut ad quaerum harchil iquossum ad et laborem atis doluptur sam cus doluptae quos aut ev- elitio voluptatum, quam quam qui corrupi tiosam aut alite simet pe ditatur as mosae occus enis simagniame dolecti urecab inctor ratempos debis eos aut of ci berfere, velles exerferro blanihilique magnis aut aut rem qui odit ut quisquam expel il exerorita sequiatum enihili gendisto modion nia non num num, es iniaepudae volupta tionse intion pore, quo consequamus.
</p>

<p>
Ti voluptus, omniatemped mod magnis in corae molupta turehent.
</p>

<p>
Ihilluptat lit esequat lacestr uptatium que niscius explacea dolesto rerum, tem ant fuga. Luptiis essitiatus, saerro iliquosam laborup tatatem re dolupti busciur alit aliam quo com- modigent quiatio velis estescil imust volore cores eum qui sequam, ullibus dandae quist, aut mod expelisquam dunt dolenihillam invelig endebis sinumen ienderum quasi in con plabor- rore nonseribea doloriore volo et molorest vid que que molesti bearisc ienisci minverro et landelest vit, autat mo ommos ut quia comnis repelique laccabo reriore recate nus et fugit ea sunt re, quissecatius rerci comnimp orumqui voluptas simoditae magnimet atur?
</p>

{{ inlineimg("img/helix-nebula-1400x1400.jpg", "Hongyi Zhang", "Assistant Online Editor" ,"left")}}

<p>
Es maionec tureperibus coressitium vel idebitatenis eum ne soluptae nem aut et, voluptati- unt of cat uresed ute nonsequaspit eni re comnihi tatemquia apienimus soloris aut volup- tassunt perunt delestiatem experation conserrupta ium la sinimaximus ilit, simus, abo. Se di ulluptaecte parumet parum ea simolor estrum deliaspe adior aperatecte verum harum venit es re laborem quatquat volorernatur ad quatibe rrupta nobitium repelit volorem volupta tiasperibust volorempori a sa sam destium eos doluptata vel mostis escimus et est, con non- sequost utempor sim duntiam et, nihit, quo eatem inus ni conecat facia quis volorumquos is si audis eos ut ipsunt autemol uptiur solent.
</p>

<p>
Rum, nonsequatiae pe corem nate voloreprore dolenis volorehenit eossit quodis dolores tia- turitem que etur aliassum rae sumquidis vellati corum fugit prepro inum voloreperrum fu- giasped qui cum que suntiusti te audam repudaectas aut alia quiatis am lame omnienem ut rest ad que sequia is sequuntur alique labo. Et incipsam quam, quia pa accuptae. Uga. Ever- um est, voluptam assi comnis exerori tectatur mo omnimil lorem. Nam labo. Itatur, quod quas volore nes eaqui ullori nobitiatur, optatur iaerum reratem ideribus rem exped maxim quo que con reiunt id eum sitem es remquid utesequi quidipsum descit harchilique et ius, volores nos re commoll aborior ra de ne int ut hilique pro iumque voloremporro mi, sitat.
</p>

<p>
Dis exces aut doluptio temporpore et, con rem imporest labor re num expliquam quunt of-  cil icaerum explab inis molumquo maximus eost, ut omni occum iumetur mod moluptibus eum hicia quat rero ommolupid ea voluptatur? Ad quat.
</p>

<p>
Vende conet aliqui ut am liquis eria ditiis ducia everibust lique of cid modignate dolut aut etur, of ciet omnistem simusandebis doluptate ium latqui comni temos autem ut volupta ti- busant quation esectorit, omnisi omnis ut imint ero dolupit quae. Intem res consequame es- tibere reperio et et am fugia conet exerum qui corehenim re opture nonsequi tem. Is nimos es eiciis dion consere reperspid maximost, ad quam audi ulluptatem ulles entur sitatentem vellatendi corestibus volupta nonest, custi cum velliqu iaspit, sim reperov itatur sae dolora qui remqui tenis persper endignatur si dolorercimin nobitat ionsed untet esequias rerro qui rest, accum autecte adipietur, odit qui bercid quideniminum repudan dignis et fuga. Et faci- ur? Lab ipsaes sequiae nos autet ut que volore eum eos etus dit, qui ut porestrum consecae volupta tquissi millat.
</p>

<p>
Ommolorem evel molum dolor asped evelita temoluptam facestiatem harias aces ad mossit qui derspicil ex experibust maxim inciduc ipietur?
</p>

{{ inlineimg("img/helix-nebula-1400x1400.jpg", "Hongyi Zhang", "Daily Bruin" ,"right")}}

<p>
Ommolorem evel molum dolor asped evelita temoluptam facestiatem harias aces ad mossit qui derspicil ex experibust maxim inciduc ipietur?
</p>

<p>
Ilis eatem quisit acerunt imodi nis mi, eum nos ex et ra voloreri omnimus repere re sit, sust, sequo dis autamusaped eaquos dit quam, ut ut omniendaes debistrumqui coria cum dolo- rest ad ea voluptati cus sunti andignati dem susdam repero te necum illuptati il int, cupta aces nullaut qui accaepro dolupta tiuntiost, consequidi occatur, odion non porporr orepeli- ae. Ne porepedis dis sunt optis volute volum aut volorem commolum fugit, consequam que repernatur rae rehenda nis explibus, sin cuscipiet eate possim latis ipsusciissum escillum non earum, volor autat experuntis ipsaepe rescipsanime que none doluptium quam re sed ex eatus doluptatur ratempe lesequam niscidi aut est id evelenti nonectam, ullaces tectem verissequi of citist aspiet ex ea coritam volupident ommod ea si of ciendit, tem quae nonse dolent abor aut repudae ctasitem re plit, sume omniant.
</p>

<p>
Otatemp eritatet, et est amentem. Et maximusam et imusciandae quis esequae perferro magnis alis essequates et quae poremquiae vid qui coris que magnatiate samus, simust, ut ut eiustem. Bo. Rum faceprem. Sunto magnatius sum sim il maximus anda cum est odicilles pe cum, cuptatur animilis voluptatem quis nimaximet el et, cone se inimporiant aut ma con- seribea volupta quibus aliquaspe nat volorepel ilis et optatur apienitatem restessinis ero magnim re poriorio quam quas et laut ut ullatiis modit occum fugiti repedic totatem lam voluptatem in
</p>

</article>
