{% extends "./nunjucks/templates/base.njk" %}

{% block content %}
<div class="row">
  {% include "./nunjucks/partials/mainstory.njk" %}
</div>
<div class="row">
  <div class="columns medium-4">
    {% include "./nunjucks/partials/allstories_box.njk" %}
  </div>
  <div class="columns medium-4">
    {% include "./nunjucks/partials/allstories_box.njk" %}
  </div>
  <div class="columns medium-4">
    {% include "./nunjucks/partials/allstories_box.njk" %}
  </div>
</div>
<div class="row">
  {% include "./nunjucks/partials/latest_stories.njk" %}
</div>
<!--
   -<h1>This is a custom block</h1>
   -<p>
   -  Go put your own content here!
   -</p>
   -<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor mauris vel nisl pretium posuere. Quisque et tortor gravida mauris eleifend ullamcorper. Vivamus egestas dui tortor, scelerisque facilisis eros malesuada posuere. Nam rutrum elit in elit condimentum feugiat. Sed interdum orci in libero dictum, id pretium dui tempor. Donec ac vestibulum arcu. Aenean eu dolor libero.
   -
   -Fusce rhoncus lacus et diam fringilla, in pretium quam feugiat. Vestibulum non felis congue, bibendum turpis in, fermentum quam. Ut a elit id libero accumsan fermentum pulvinar eu arcu. Sed sodales, nunc ac mattis condimentum, sapien ex imperdiet nunc, vel pulvinar nisi velit ut lorem. Praesent porta tempus nunc, euismod commodo magna interdum et. Etiam euismod bibendum orci. Curabitur ac risus sit amet nunc ornare finibus. Pellentesque vitae tellus turpis. Donec non elit condimentum, vehicula tortor nec, viverra purus. Sed ligula libero, semper lacinia diam nec, fringilla pretium purus. Etiam pulvinar justo enim, ac aliquet lectus tincidunt eu. Phasellus fringilla ipsum sit amet iaculis condimentum. Suspendisse commodo massa ac ex pulvinar, id aliquam ipsum elementum. In ligula massa, placerat ut sodales in, cursus at arcu. Maecenas vel augue arcu. Integer interdum mauris molestie velit lobortis, quis condimentum neque vestibulum.
   -
   -Maecenas suscipit dictum arcu eu tincidunt. Donec nisl velit, elementum at venenatis in, convallis id augue. Vestibulum porttitor auctor sapien nec tincidunt. Pellentesque et interdum felis, id sodales enim. Ut ultricies facilisis lorem, at porttitor libero fringilla sit amet. Maecenas suscipit enim quis quam convallis, sed condimentum nunc viverra. Donec sed felis porttitor, posuere tellus quis, gravida massa. Phasellus tristique dui eu rhoncus porttitor. Nulla id elementum dolor. Nam non lectus et neque egestas malesuada eu et justo. Curabitur varius, dui sit amet volutpat ultrices, velit dui finibus nibh, vitae ultricies mauris lectus nec nunc.
   -
   -In ut arcu id mauris lobortis mattis sed ac purus. Curabitur iaculis justo non massa scelerisque ornare. Etiam dictum dolor eu pharetra molestie. Cras non posuere urna. Donec ultricies vel massa sit amet faucibus. Curabitur nulla nunc, malesuada eget vestibulum ac, dictum sed velit. Morbi id leo est.
   -
   -Proin consectetur mi nibh, et feugiat felis suscipit eu. Suspendisse pulvinar convallis tellus vel finibus. Morbi rhoncus aliquet dui. Sed urna nisi, tincidunt sed dolor malesuada, semper mattis arcu. Etiam scelerisque nunc vitae tristique vehicula. Nam nibh nisl, maximus nec dignissim et, tempor in libero. Sed vel porttitor massa. Sed magna est, dignissim malesuada augue vel, commodo laoreet odio. Phasellus condimentum vel dolor et ornare. Etiam viverra tortor nisl, ac dignissim sem condimentum sed. Etiam tortor nisi, tristique in porttitor eu, aliquam eu eros. Nam diam eros, consequat eget dui id, ultrices cursus enim. Integer nunc nisi, pharetra ac arcu et, dapibus condimentum libero. Nulla non sapien massa.</h3>
   ->>>>>>> Fix top-bar to the top
   -->
{% endblock %}
