{% extends "./nunjucks/templates/base.njk" %}

{% block content %}
<div class="navbar-padding"></div>
<div class="row">
  {% include "./nunjucks/partials/mainstory.njk" %}
</div>
<div class="row">
  {% include "./nunjucks/partials/3col_container.njk" %}
</div>
<div class="row">
  {% include "./nunjucks/partials/latest_stories.njk" %}
</div>
{% endblock %}
