{% extends "./nunjucks/templates/base.njk" %}

{% block content %}
<div class="row">
  <div class="navbar-padding"></div>
  {% include "./nunjucks/partials/section.njk" %}
</div>
<div class="row">
  {% include "./nunjucks/partials/latest_stories.njk" %}
</div>
<div class="row">
  {% include "./nunjucks/partials/page_number.njk" %}
</div>
{% endblock %}
