{% extends "./nunjucks/templates/base.njk" %}

{% block content %}
<div class="navbar-padding"></div>
<div class="row show-for-medium">
  {% include "./nunjucks/partials/section.njk" %}
</div>
<div class="row show-for-small-only small-collapse">
  {% include "./nunjucks/partials/mobile_primary_stories.njk" %}
</div>
{% endblock %}
<!-- <div class="row">
  {% include "./nunjucks/partials/latest_stories.njk" %}
</div> -->
<!-- <div class="row">
  {% include "./nunjucks/partials/page_number.njk" %}
</div> -->
