@import "utils";
@import "_colors";

.latest-stories__container {
  .latest-stories__title {
    text-align: center;
    font-size: 2em;
    font-family: "Montserrat", "sans-serif";
    font-weight: lighter;
    padding-top: 40px;
    padding-bottom: 20px;

    @media screen and (max-width: $small-only) {
      & {
        padding-top: 15px;
      }
    }
  }
  .latest-stories__textbox-pretitle {
    font-family: "Montserrat", "sans-serif";
    font-weight: bolder;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.3em;
    text-transform: uppercase;
  }
  .latest-stories__textbox-pretitle-small {
    font-family: "Montserrat", "sans-serif";
    font-weight: bolder;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .latest-stories__imgbox-small {
    img {
      margin: 0 auto;
      max-height: 100px;
    }
    padding-right: 7px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
  }
  .latest-stories__textbox-title {
    font-family: "Ropa Sans", "sans-serif";
    line-height: 39.6px;
    letter-spacing: -40;
    font-size: 36px;
    padding-bottom: 0.3em;
  }
  .latest-stories__textbox-small {
    padding-left: 7px;
    padding-right: 0;
  }
  .latest-stories__textbox-title-small {
    font-family: "Ropa Sans", "sans-serif";
    font-size: 1.5rem;
    line-height: 1.3rem;
    margin-bottom: 5px;
  }
  .latest-stories__textbox-author {
    font-family: "Montserrat", "sans-serif";
    font-weight: bolder;
    font-size: 1em;
    padding-bottom: 1em;
  }
  .latest-stories__textbox-author-small {
    font-family: "Montserrat", "sans-serif";
    font-weight: bolder;
    font-size: 10px;
    padding-bottom: 14px;
  }
  .latest-stories__textbox-body {
    font-family: "Montserrat", "sans-serif";
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
  }
  .latest-stories__textbox-body-small {
    padding-left: 7px;
    padding-right: 7px;
    p {
      font-family: "Montserrat", "sans-serif";
      font-weight: lighter;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }

  // .latest-stories__black-line {
  //   border-bottom: 0.05em solid black !important;
  // }

  .latest-stories__separator-small {
    background-color: $spacing-grey;
    height: 7px;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .latest-stories__space-small {
    padding: 0.6em;
  }

  .latest-stories__imgbox {
    margin-top: 0.9em;
    .latest-stories__block-imgbox-photo-credit-wrapper {
      margin-top: 250px;
      float: right;
      color: gray;
      font-family: "Montserrat", sans-serif;
      font-size: 0.6em;
    }
    .latest-stories__block-imgbox-photo-credit-name,
    .latest-stories__block-imgbox-photo-credit-title {
      display: inline;
    }

    .latest-stories__block-imgbox-photo-credit-title {
      font-variant: small-caps;
    }
  }

  .latest-stories__textbox {
    padding-left: 30px;
    margin-top: 0.7em;
  }
}

.latest-stories__space {
  padding-bottom: 2.5em;
}
