.latest-stories__container {
  .latest-stories__title {
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: lighter;
    padding-top: 30px;
  }
  .latest-stories__textbox-pretitle {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bolder;
    font-size: 1em;
    padding-top: 1.3em;
  }
  .latest-stories__textbox-title {
    font-family: 'Ropa Sans', sans-serif;
    line-height: 39.6pt;
    letter-spacing: -40;
    font-size: 2em;
  }
  .latest-stories__textbox-author {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bolder;
    font-size: 1em;
    padding-bottom: 0.5em;
  }
  .latest-stories__textbox-body {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: lighter;
    font-size: 12pt;
    line-height: 20pt;
  }
  .latest-stories__black-line {
    border-bottom: 0.05em solid black;
    margin-top: 1.5em;
    margin-bottom: 0.7em;
  }
  .latest-stories__imgbox {
    margin-top: 0.9em;
    .latest-stories__block-imgbox-photo-credit-wrapper {
      float: right;
      color: gray;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.6em;
    }
    .latest-stories__block-imgbox-photo-credit-name, .latest-stories__block-imgbox-photo-credit-title {
      display: inline;
    }

    .latest-stories__block-imgbox-photo-credit-title {
      font-variant: small-caps;
    }
  }
  .latest-stories__textbox {
    padding-left: 30px;
    margin-top: 0.7em;
  }
}

.latest-stories__space {
  padding-bottom: 2.5em;
}
