.about-prime__container {
  .about-prime__title {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    font-stretch: condensed;
  }
  .about-prime__description {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
  }
  .about-prime__footer-padding {
    padding: 2em;
  }
}
