@import "3col";
@import "latest-stories";
@import "page-numbers";
@import "footer";
@import "_colors";
@import "section";
@import "tabs";

/* Standardize */
.navbar-padding {
  padding-top: 200px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  font-weight: bold;
  text-decoration: none;
}
