@import "3col";
@import "latest-stories";
@import "footer";
@import "colors";
@import "allstories";
@import "tabs";

/* Standardize */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  font-weight: bold;
  text-decoration: none;
}
