@import "3col";
@import "latest-stories";
@import "page-numbers";
@import "footer";
@import "colors";
@import "section";
@import "tabs";
@import "phonetab";

/* Standardize */
html,
body {
  overflow-x: hidden;
}

.navbar-padding {
  padding-top: 200px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  font-weight: bold;
  text-decoration: none;
}
